*.pyc
*.html
*.geojson
*.svg
*.csv
*.json
*.prof
*.pvsm
*.vts
*.zip
doc/build/
doc/source/_static/pcl_example_coverages.png
doc/source/_static/pcl_example_init_coverage.png
drafts/
.coverage
bistatic_range_*.png
output/
**/__pycache__